.App,
html {
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.weather-global {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}

.bg {
  content: '';
  background: no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: yellow;
  margin: 0;
}

.weather-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 5px;
  z-index: 100;
  color: white;
  border-radius: 14px;
}

.weather-main2 {
  display: flex;
  padding: 36px;
  background-color: rgba(47, 45, 45, 0.6);
  border-radius: 10px;
}

.weather-icon {
  margin-right: 20px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.weather-main3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  font-size: 18px;
  border-radius: 10px;
}

.city {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.temp {
  font-size: 48px;
  margin: 0;
  font-weight: 750;
}

.max_min {
  font-size: 20px;
  font-weight: 700;
}

.details{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.weather-banner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(47, 45, 45, 0.6);
  padding: 6px;
  font-size: 24px;
  border-radius: 10px;
  color: white;
}

.weekly-forecast {
  display: flex;
  justify-content: space-between;
}

.weather-forecast {
  flex-basis: 50%;
  text-align: center;
  padding: 4px;
}

.weather-forecast span {
  display: block;
  margin-bottom: 2px;
}

input {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: rgba(47, 45, 45, 0.6);
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  width: 15%;
}

::placeholder {
  color: #ccc4c4;
  caret-color: red;
  opacity: 1; /* Firefox */
}

/*button {*/
/*  font-family: 'Roboto', sans-serif;*/
/*  color: white;*/
/*  background-color: rgba(47, 45, 45, 0.6);*/
/*  font-size: 1.2rem;*/
/*  margin: 0 auto;*/
/*  padding: 0.5rem;*/
/*  border-radius: 0.2rem;*/
/*  border: none;*/
/*  width: 10%;*/
/*  outline: none;*/
/*}*/